# gradle

.gradle/
build/

# IDEs

.idea/
.settings/
.vscode/
bin/
classes/
out/
.classpath
.project
*.iml
*.ipr
*.iws
*.launch

# fabric

run/

# build artifacts
*.class
*.log
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!**/gradle-wrapper.jar

# generated sources
.cache
